* {
   margin: 0;
   padding: 0;}

   header {
    padding: 1rem;
   }

   body {
    width: 512px;
    border: 2px solid black
    
   }

   main {
    background-color: rgb(202, 201, 249);
   }

   .card {
    border:2px solid black;
    margin: 1rem;
    padding: 1rem; width: auto; height: 100;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: lightgrey;
   }

   .line {
    height: 2px;
    background-color: black;

   }